CONFIG_DIR=config
INSTRUMENTS_YAML=instruments.yaml
RESULT_DIR=result
RESULT_FILENAME_PREFIX=result
ADMIN_DIR=admin
UNDEFINED_JSON=undefined.json
MAX_PDF_PAGES=3
OCR_TEXT_MIN_CHARS=50
RESULT_ID_PREFIX=R
RESULT_ID_WIDTH=6
